<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue JS 2 Basics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <div>
            <div>
                <h3>{{ header }}</h3>
                <p v-show="doILovePets">
                    <h4>Yes, I love pets</h4>
                    <h5 v-if="petPreference === 'dog'">I love dogs!!!</h5>
                    <h5 v-else-if="petPreference === 'cat'"> I love cats!!! </h5>
                    <h5 v-else> I love snakes!!! </h5>
                </p>
                <!-- templates are used to render more than one element -->
                <template v-if="petPreference === 'dog'">
                    <p>
                        <h4>Dog</h4>
                        <img src="puppy.jpg" width="400">
                    </p>
                </template>
                <template v-else-if="petPreference === 'cat'">
                    <p>
                        <h4>Cat</h4>
                        <img src="cat.jpg" width="400">
                    </p>
                </template>
                <template v-else >
                    <p>
                        <h4>Snake</h4>
                        <img src="snake.jpg" width="400">
                    </p>
                </template>
            </div>
            <div>
                <!-- 
                    Exercise: Add additional two animals conditionally render
                -->
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>